* {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 15px;
}

h1 {
    color: green;
    padding: 10px;
}

h3 {
    color: brown;
}

h1,
h3 {
    text-align: center;
    background-color: goldenrod;
}

ol li {
    color: brown;
}

p,
ul li,
ol li {
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
    padding: 8px;
    background-color: sandybrown;
    border: 2px black double;
    margin: 8px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
